
.button {
    border: 1px solid #9E9E9E;
    box-shadow: 2px 2px 0 #9E9E9E;
    border-radius: 0;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    user-select: none;
}

.button.light {
    border: 1px solid #E5BA73;
    box-shadow: 2px 2px 0 #E5BA73;
}

.button:hover {
    border: 1px solid #C58940;
    box-shadow: 3px 3px 0 #C58940;
    cursor: pointer;
}

.button:active {
    outline: 1px solid #FAEAB1;
    border: 1px solid #FAEAB1;
    box-shadow: none;
}

.w-full {
    width: 100%;
}

.boxContainer {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.textInput {
    border: 1px solid #9E9E9E;
    box-shadow: 2px 2px 0 #9E9E9E;
    border-radius: 0;
    padding: 0.5rem 0.8rem;
}

.textInput:hover, .textInput:focus  {
    border: 1px solid #C58940;
    box-shadow: 3px 3px 0 #C58940;
}

.highlight {
    background-color: #C5CAE9;
    color: #1A237E;
    font-size: 13px;
    border-radius: 2px;
    padding: 3px 5px;
    font-weight: bold;
}

p {
    line-height: 1.3rem;
}